.accountViewArea
{
    padding-left: 200px;
    padding-right: 200px;
    background-color: #e5e5e5;
}

.accountViewArea .mainBox
{
    min-height: 100vh;
    padding: 20px;
    border-left: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    background-color: #ffffff;
}

.accountViewArea .topBox
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

.accountViewArea .modeBox
{
    flex-direction: row;
    margin-bottom: 20px;
}

.accountViewArea .picture
{
    height: 80px;
    width: 80px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}

.accountViewArea .name
{
    margin-bottom: 10px;
    font-size: 27px;
    line-height: 20px;
}

.accountViewArea .buttonBox
{
    flex-direction: row;
    gap: 10px;
}

.accountViewArea .normalButton
{
    padding: 10px;
    border-radius: 5px;
    background-color: #cccccc;
}

.accountViewArea .modeButton
{
    padding: 9px;
    border: 1px solid #cccccc;
}

.accountViewArea .modeBiographyButton
{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.accountViewArea .modeReviewsButton
{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.accountViewArea .biography
{
    margin-top: -5px;
    line-height: 20px;
}

.accountViewArea button
{
    height: 30px;
    font-weight: bold;
    color: #333333;
}

.accountViewArea .headBox
{
    flex: 1;
}

.accountViewArea .bookshelf
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #cccccc;
    border-radius: 5px;
}

.accountViewArea .cover
{
    height: 90px;
    width: 60px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}

.accountViewArea .coverOne
{
    margin-left: -90px;
    margin-right: 60px;
}

.accountViewArea .coverTwo
{
    margin-left: -90px;
}

.accountViewArea .coverThree
{
    margin-left: 60px;
}

.accountViewArea .bookshelfCovers
{
    display: flex;
    flex-direction: row-reverse;
}

.accountViewArea .bookshelfInfo
{
    flex: 1;
}

.accountViewArea .bookshelfName
{
    font-size: 20.25px;
    line-height: 15px;
    margin-bottom: 10px;
}

.accountViewArea .bookshelfDescription
{
    overflow: hidden;
    height: 60px;
    margin-top: -5px;
    line-height: 20px;
    text-overflow: ellipsis;
}

.accountViewArea .createBookshelfButton
{
    width: 100%;
    margin-bottom: 10px;
    padding: 9px;
    border: solid 1px #cccccc;
    border-radius: 5px;
}