.bookshelfCardArea
{
    color: #191919;
}

.bookshelfCardArea .bookshelf
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
}

.bookshelfCardArea .bookshelf:hover
{
    background-color: #f2f2f2;
}

.bookshelfCardArea .bookshelfInfo
{
    flex: 1;
}

.bookshelfCardArea .bookshelfName
{
    font-size: 20.25px;
    line-height: 15px;
    margin-bottom: 10px;
}

.bookshelfCardArea .bookshelfDescription
{
    overflow: hidden;
    height: 60px;
    margin-top: -5px;
    line-height: 20px;
}