.routingArea .total
{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.background
{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #e5e5e5;
    overflow-y: scroll;
    overflow-x: auto;
}

.routingArea .enterBackground
{
    padding-left: 400px;
    padding-right: 400px;
}

.routingArea .normalBackground
{
    padding-left: 200px;
    padding-right: 200px;
}

.routingArea .main
{
    display: flex;
    flex-direction: column;
    flex: 1;
    border-left: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    background-color: #ffffff;
}

.routingArea .main .firstPage{
    padding: 30px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    width: fit-content;
    align-self: center;
    color: #666666;
}