.routingArea .total {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.background {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #f2f2f2;
    overflow-y: scroll;
    overflow-x: auto;
}

.routingArea .enterBackground {
    padding-left: 400px;
    padding-right: 380px;
}

.routingArea .normalBackground {
    padding-left: 200px;
    padding-right: 180px;
}

.routingArea .main {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-left: solid 1px #e5e5e5;
    border-right: solid 1px #e5e5e5;
    background-color: #ffffff;
}

.routingArea .main .firstPageTitle {
    padding: 80px;
    padding-bottom: 0;
    font-size: 35px;
    width: fit-content;
    align-self: center;
    color: #666666;
}

.routingArea .main .firstPageSummary {
    gap: 15px;
    line-height: 1.5;
    padding: 80px;
    font-size: 20px;
    text-align: center;
    width: fit-content;
    align-self: center;
    color: #666666;
}

.routingArea .main .bookCovers{
    filter: blur(3px); 
}
