.searchBarArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 1px #e5e5e5;
    background-color: #ffffff;
    justify-content: space-between;
}

.searchBarArea .leftBox {
    width: 200px;
    padding: 10px;
}

.searchBarArea .logo {
    height: 50px;
    width: 131.75px;
}

.searchBarArea .middleBox {
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
}

.searchBarArea .searchBox {
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.searchBarArea .inputGroup {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.searchBarArea .label
{
    color: #999999;
}

.searchBarArea .searchButton
{
    background-color: #e5e5e5;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    font-weight: bold;
}

.searchBarArea .searchButton:hover
{
    background-color: #cccccc;
}

.searchBarArea input {
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    flex: 1;
    background-color: #e5e5e5;
}

.searchBarArea .advancedSearchButton
{
    height: fit-content;
    background-color: #e5e5e5;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
}

.searchBarArea .advancedSearchButton:hover
{
    background-color: #cccccc;
}

.searchBarArea .rightBox {
    width: 200px;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    position: relative;
}

.searchBarArea .picture {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-color: #e5e5e5;
    cursor: pointer;
}

.searchBarArea .options
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 50px;
    position: absolute;
    z-index: 2;
    padding: 10px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    background-color: #ffffff;
}

.searchBarArea .option
{
    padding: 10px;
    background-color: #e5e5e5;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}

.searchBarArea .option:hover
{
    background-color: #cccccc;
}

.searchBarArea .register {
    padding: 10px;
    border-radius: 5px;
    background-color: #e5e5e5;
    height: 30px;
    font-weight: bold;
}

.searchBarArea .register:hover {
    background-color: #cccccc;
}