.searchBarArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    border-bottom: solid 1px #cccccc;
    background-color: #ffffff;
    justify-content: space-between;
}

.searchBarArea .logo {
    height: 60px;
    width: 157px;
}

.searchBarArea .logoArea {
    width: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.searchBarArea .inputGroup {
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: row;
}

.searchBarArea .search {
    height: 20px;
    width: 20px;
}

.searchBarArea .ownerPicture {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-color: #e5e5e5;
    position: relative;
}

.searchBarArea input {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    flex: 1;
    background-color: #e5e5e5;
    color: #666666;
}

.searchBarArea input:focus {
    color: #191919;
}

.searchBarArea button {
    color: #191919;
    background-color: #e5e5e5;
    border: none;
    border-radius: 5px;
    padding: auto;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.searchBarArea .register {
    padding: 10px;
    border-radius: 5px;
    background-color: #e5e5e5;
    height: 30px;
    font-weight: bold;
    color: #191919;
}

.searchBarArea  .register:hover {
    background-color: #cccccc;
}

.searchBarArea .advanced {
    color: #191919;
    background-color: #e5e5e5;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.searchBarArea .logOut {
    color: #191919;
    background-color: #e5e5e5;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    width: 100%;
}

.searchBarArea .account {
    color: #191919;
    background-color: #e5e5e5;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.searchBarArea button:hover {
    background-color: #cccccc;
}

.searchBarArea .account:hover {
    background-color: #cccccc;
}

.searchBarArea .advanced:hover {
    background-color: #cccccc;
}

.searchBarArea .rightArea {
    width: 220px;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.searchBarArea .profileContainer {
    position: relative;
}

.profileOptions {
    position: absolute;
    top: 100%;
    width: 200px;
    right: 0px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}