.bookCardArea
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    color: #191919;
}

.bookCardArea:hover:not(:has(.bookshelfManageArea:hover)):not(:has(.removeButton:hover))
{
    background-color: #f2f2f2;
    cursor: pointer;
}

.bookCardArea .cover
{
    height: 90px;
    width: 60px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-color: #e5e5e5;
}

.bookCardArea .bookInfoBox
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.bookCardArea .title
{
    font-size: 20.25px;
    line-height: 25px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.bookCardArea .authors
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
}

.bookCardArea .author
{
    white-space: nowrap;
}

.bookCardArea .categories
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.bookCardArea .category
{
    padding: 5px;
    border-radius: 5px;
    background-color: #e5e5e5;
    text-transform: uppercase;
    white-space: nowrap;
}

.bookCardArea .removeButton
{
    height: 30px;
    width: 30px;
    background-color: #e5e5e5;
    border-radius: 5px;
    font-weight: bold;
}

.bookCardArea .removeButton:hover
{
    background-color: #cccccc;
}