.bookInfoArea .book
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 9px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
}

.bookInfoArea .cover
{
    height: 90px;
    width: 60px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-color: #e5e5e5;
}

.bookInfoArea .title
{
    font-size: 20.25px;
    line-height: 15px;
}

.bookInfoArea .authors
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bookInfoArea .categories
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.bookInfoArea .category
{
    padding: 5px;
    border-radius: 5px;
    background-color: #e5e5e5;
    text-transform: uppercase;
    white-space: nowrap;
}

.bookInfoArea .description
{
    text-align: justify; 
    text-indent: 20px;  
    display: flex;
    flex-direction: row;
    gap: 15px;
    line-height: 1.0;
    margin: 10px;
}

.bookInfoArea .additionalInfoArea
{
    display: flex;
    flex-direction: row;
    margin: 10px;
    gap: 10px;
}