.bookInfoArea {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 9px;
}

.bookInfoArea .cover {
    height: 130px;
    width: 100px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-color: #e5e5e5;
}

.bookInfoArea .rateArea {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.bookInfoArea .rest {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bookInfoArea .title {
    font-size: 20.25px;
    line-height: 15px;
    font-weight: bold;
}

.bookInfoArea .authors {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    gap: 10px;
}

.bookInfoArea .categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.bookInfoArea .category {
    padding: 5px;
    border-radius: 5px;
    background-color: #e5e5e5;
    text-transform: uppercase;
    white-space: nowrap;
}

.bookInfoArea .description {
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 15px;
    line-height: 1.5;

}

.bookInfoArea .additionalInfoArea {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
}

.rest button {
    margin-top: 20px;
    background-color: #cccccc;
    font-weight: bold;
    color: #333333;
}

.additionalInfoArea {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.additionalInfoArea .ISBNs{
     display: flex;
    flex-direction: column;
    gap: 10px;
}

.bookInfoArea .score{
    margin-left: auto;
}