.bookViewArea {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
}

.bookViewArea .bookArea {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.bookViewArea .scoreArea {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bookViewArea .scoreArea .cover {
  height: 150px;
  width: 100px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-color: #e5e5e5;
}

.bookViewArea .scoreArea button {
  padding: 10px;
  border-radius: 5px;
  background-color: #cccccc;
  font-weight: bold;
  color: #333333;
}

.bookViewArea .scoreArea .score {
  margin-left: auto;
}

.bookViewArea .bookInfoArea {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 9px;
}

.bookViewArea .bookInfoArea button {
  padding: 10px;
  border-radius: 5px;
  background-color: #cccccc;
  font-weight: bold;
  color: #333333;
}

.bookViewArea .bookInfoArea {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 9px;
}

.bookViewArea .bookInfoArea .title {
  font-size: 20.25px;
  line-height: 15px;
}

.bookViewArea .bookInfoArea .authors {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  gap: 10px;
}

.bookViewArea .bookInfoArea .categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.bookViewArea .bookInfoArea .category {
  padding: 5px;
  border-radius: 5px;
  background-color: #e5e5e5;
  text-transform: uppercase;
  white-space: nowrap;
}

.bookViewArea .bookInfoArea .description {
  text-align: left;
  display: flex;
  flex-direction: row;
  gap: 15px;
  line-height: 1.5;
}

.bookViewArea .bookInfoArea .additionalInfoArea {
  
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.bookViewArea .bookInfoArea .additionalInfoArea .labels {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight:bold;
  color: #7f7f7f;
}

.bookViewArea .bookInfoArea .additionalInfoArea .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bookViewArea .bookInfoArea .additionalInfoArea .ISBNs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bookViewArea .reviewArea {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bookViewArea .reviewArea .reviews {
  font-size: 20.25px;
  line-height: 15px;
}

.bookViewArea .reviewArea .addReviewButton {
  height: 30px;
  width: 100%;
  padding-left: 9px;
  padding-right: 9px;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  font-weight: bold;
  color: #191919;
}

.bookViewArea .reviewArea .addReviewButton:hover {
  background-color: #f2f2f2;
}