.bookViewArea {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.bookViewArea .bookBox {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.bookViewArea .scoreBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bookViewArea .cover {
  height: 180px;
  width: 120px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-color: #e5e5e5;
}

.bookViewArea .score {
  margin-left: auto;
  margin-right: auto;
  font-size: 20.25px;
  line-height: 15px;
}

.bookViewArea .book {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bookViewArea .topBox {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.bookViewArea .topRightBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bookViewArea .bookshelfManageArea {
    margin-left: auto;
}

.bookViewArea .showMoreButton {
  border-radius: 5px;
  font-weight: bold;
  color: #999999;
}

.bookViewArea .showMoreButton:hover {
    color: #191919;
}

.bookViewArea .title {
    font-size: 27px;
    line-height: 30px;
    margin-top: -5px;
    margin-bottom: 5px;
}

.bookViewArea .authors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
}

.bookViewArea .author {
    white-space: nowrap;
}

.bookViewArea .categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.bookViewArea .category {
  padding: 5px;
  border-radius: 5px;
  background-color: #e5e5e5;
  text-transform: uppercase;
  white-space: nowrap;
}

.bookViewArea .description {
  text-align: left;
  display: flex;
  flex-direction: row;
  margin-top: -5px;
  margin-bottom: -5px;
  line-height: 20px;
}

.bookViewArea .additionalInfo {
  display: flex;
  flex-direction: row;
  gap: 20px;
  white-space: nowrap;
}

.bookViewArea .labels {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bookViewArea .labels div {

    color: #999999;
}

.bookViewArea .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bookViewArea .ISBNs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bookViewArea .ISBN {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bookViewArea .reviewBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bookViewArea .addReviewButton {
  width: 100%;
  padding: 10px;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  font-weight: bold;
}

.bookViewArea .addReviewButton:hover {
  background-color: #f2f2f2;
}