.bookshelfViewArea
{
    padding-left: 200px;
    padding-right: 200px;
    background-color: #e5e5e5;
}

.bookshelfViewArea .mainBox
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
    padding: 20px;
    border-left: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    background-color: #ffffff;
}

.bookshelfViewArea .topBox
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bookshelfViewArea .cover
{
    height: 90px;
    width: 60px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-color: #cccccc;
}

.bookshelfViewArea .coverOne
{
    margin-left: -90px;
    margin-right: 60px;
}

.bookshelfViewArea .coverTwo
{
    margin-left: -90px;
}

.bookshelfViewArea .coverThree
{
    margin-left: 60px;
}

.bookshelfViewArea .covers
{
    display: flex;
    flex-direction: row-reverse;
}

.bookshelfViewArea .name
{
    margin-bottom: 10px;
    font-size: 27px;
    line-height: 20px;
}

.bookshelfViewArea button
{
    height: 30px;
    font-weight: bold;
    color: #333333;
}

.bookshelfViewArea .modeButton
{
    padding: 10px;
    border-radius: 5px;
}

.bookshelfViewArea .modeBox
{
    flex-direction: row;
    border-radius: 5px;
}

.bookshelfViewArea .description
{
    margin-top: -5px;
    line-height: 20px;
}

.bookshelfViewArea .books
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bookshelfViewArea .book
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 9px;
    border: solid 1px #cccccc;
    border-radius: 5px;
}

.bookshelfViewArea .infoBox
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.bookshelfViewArea .title
{
    font-size: 20.25px;
    line-height: 15px;
}

.bookshelfViewArea .authors
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bookshelfViewArea .categories
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bookshelfViewArea .category
{
    padding: 5px;
    border-radius: 5px;
    background-color: #e5e5e5;
    text-transform: uppercase;
}

.bookshelfViewArea .headBox
{
    flex: 1;
}

.bookshelfViewArea .buttonBox
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bookshelfViewArea .normalButton
{
    padding: 10px;
    border-radius: 5px;
    background-color: #cccccc;
}

.bookshelfViewArea .bookBox
{
    position: relative;
}

.bookshelfViewArea .removeButton
{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    background-color: #cccccc;
    border-radius: 5px;
}

.bookshelfViewArea .bookInfoBox
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    margin-right: 50px;
}

.bookshelfViewArea .ownerLink
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex: 1;
    width: fit-content;
    margin-bottom: 10px;
    align-items: center;
}

.bookshelfViewArea .ownerPicture
{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-color: #cccccc;
}