.accountEditArea
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.accountEditArea input
{
    height: 30px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #e5e5e5;
    color: #191919;
}

.accountEditArea .label
{
    color: #7f7f7f;
}

.accountEditArea .normalInput
{
    border-radius: 5px;
}

.accountEditArea .passwordBox
{
    display: flex;
    flex-direction: row;
}

.accountEditArea .passwordInput
{
    flex: 1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.accountEditArea .showPasswordButton
{
    height: 30px;
    width: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #e5e5e5;
    font-weight: bold;
    color: #191919;
}

.accountEditArea .showPasswordButton:hover
{
    background-color: #cccccc;
}

.accountEditArea .biographyInput
{
    flex: 1;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #e5e5e5;
    color: #191919;
    line-height: 20px;
    cursor: text;
}

.accountEditArea .biographyInput[placeholder]:empty::before
{
    content: attr(placeholder);
    color: #7f7f7f; 
}

.accountEditArea .pictureBox
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.accountEditArea .picture
{
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-color: #e5e5e5;
}

.accountEditArea .bigPicture
{
    height: 80px;
    width: 80px;
}

.accountEditArea .smallPicture
{
    height: 30px;
    width: 30px;
}

.accountEditArea ::placeholder
{
    color: #7f7f7f;
}