.accountEnterArea
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.accountEnterArea input
{
    height: 30px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #e5e5e5;
    color: #191919;
}

.accountEnterArea .topBox
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: solid 1px #e5e5e5;
}

.accountEnterArea .text
{
    color: #191919;
    font-size: 27px;
    line-height: 20px;
}

.accountEnterArea .formBox
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.accountEnterArea .label
{
    color: #999999;
}

.accountEnterArea .normalInput
{
    border-radius: 5px;
}

.accountEnterArea .passwordBox
{
    display: flex;
    flex-direction: row;
}

.accountEnterArea .passwordInput
{
    flex: 1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.accountEnterArea .showPasswordButton
{
    height: 30px;
    width: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #e5e5e5;
    font-weight: bold;
    color: #191919;
}

.accountEnterArea .showPasswordButton:hover
{
    background-color: #cccccc;
}