.searchAdvancedArea
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.searchAdvancedArea input, .searchAdvancedArea select
{
    height: 30px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #e5e5e5;
    color: #191919;
}

.searchAdvancedArea .label
{
    color: #7f7f7f;
}

.searchAdvancedArea .input[placeholder]:empty::before
{
    content: attr(placeholder);
    color: #7f7f7f; 
}

.searchAdvancedArea .search
{
    padding: 10px;
    border-radius: 5px;
    background-color: #e5e5e5;
    height: 30px;
    font-weight: bold;
    color: #191919;
}

.advancedArea .search:hover
{
    background-color: #cccccc;
}