.searchAdvancedArea
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.searchAdvancedArea input
{
    height: 30px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #e5e5e5;
}

.searchAdvancedArea .label
{
    color: #999999;
}

.searchAdvancedArea .bigLabel
{
    color: #666666;
    font-weight: bold;
}

.searchAdvancedArea .input[placeholder]:empty::before
{
    content: attr(placeholder);
    color: #7f7f7f; 
}

.searchAdvancedArea .search
{
    padding: 10px;
    border-radius: 5px;
    background-color: #e5e5e5;
    height: 30px;
    font-weight: bold;
}

.searchAdvancedArea .search:hover
{
    background-color: #cccccc;
}