.bookshelfViewArea
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.bookshelfViewArea .topBox
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bookshelfViewArea .headBox
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.bookshelfViewArea .name
{
    font-size: 27px;
    line-height: 20px;
    color: #191919;
}

.bookshelfViewArea .creationDate
{
    color: #191919;
}

.bookshelfViewArea .books
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bookshelfViewArea .description
{
    margin-top: -5px;
    line-height: 20px;
    color: #191919;
}