.bookshelfViewArea {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.bookshelfViewArea .topBox {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.bookshelfViewArea .headBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.bookshelfViewArea .name {
    font-size: 27px;
    line-height: 30px;
    margin-top: -5px;
    margin-bottom: 5px;
}

.bookshelfViewArea .creationDate {
    white-space: nowrap;
}

.bookshelfViewArea .books {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bookshelfViewArea .description {
    margin-top: -5px;
    line-height: 20px;
}