.reviewCreateArea
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.reviewCreateArea .label
{
    color: #7f7f7f;
}

.reviewCreateArea .textInput
{
    flex: 1;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #e5e5e5;
    line-height: 20px;
    cursor: text;
}

.reviewCreateArea .textInput[placeholder]:empty::before
{
    content: attr(placeholder);
    color: #7f7f7f; 
}

.reviewCreateArea .bookScoreBox
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.reviewCreateArea .numberBox
{
    flex: 1;
    display: flex;
    flex-direction: row;
}

.reviewCreateArea .bookScore
{
    flex: 1;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #e5e5e5;
}

.reviewCreateArea .minusButton
{
    height: 30px;
    width: 30px;
    background-color: #e5e5e5;
    font-weight: bold;
}

.reviewCreateArea .minusButton:hover
{
    background-color: #cccccc;
}

.reviewCreateArea .plusButton
{
    height: 30px;
    width: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #e5e5e5;
    font-weight: bold;
}

.reviewCreateArea .plusButton:hover
{
    background-color: #cccccc;
}

.reviewCreateArea .clearButton
{
    padding: 10px;
    border-radius: 5px;
    background-color: #e5e5e5;
    font-weight: bold;
}

.reviewCreateArea .clearButton:hover
{
    background-color: #cccccc;
}