.alertListArea
{
    width: 100%;
    position: fixed;
    height: auto !important;
    bottom: 0;
    left: 0;
    padding-bottom: 10px;
    padding-left: 10px;
    background: none;
    pointer-events: none;
}

.alertListArea .alertList
{
    width: 25%;
    background: none;
}

.alertListArea .alert
{
    margin-top: 10px;
    padding: 10px;
    border: solid 1px;
    border-radius: 5px;
    white-space: nowrap;
    animation: fadeOut 2s linear 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}