.reviewCardArea
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
}

.cardButton:hover:not(:has(.optionButton:hover))
{
    background-color: #f2f2f2;
    cursor: pointer;
}

.reviewCardArea .cover
{
    height: 90px;
    width: 60px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-color: #e5e5e5;
}

.reviewCardArea .info
{   
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;

}
.reviewCardArea .title
{
    font-size: 20.25px;
    line-height: 25px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.reviewCardArea .middleBox
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.reviewCardArea .ownerLink
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: fit-content;
    align-items: center;
}

.reviewCardArea .creationDate
{
    white-space: nowrap;
}

.reviewCardArea .editionDate
{
    white-space: nowrap;
}

.reviewCardArea .bookScore
{
    margin-left: auto;
}

.reviewCardArea .text
{
    flex: 1;
    margin-top: -5px;
    margin-bottom: -5px;
    line-height: 20px;
}

.reviewCardArea .buttonGroupArea
{
    margin-left: auto;
}